.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.App-header {
  background-color: #165724a8;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
}

.App-link {
  color: #09d3ac;
}
.modal-backdrop {background-color:transparent;};


